*{
    margin: 0;
    padding: 0;
}

.welcome{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(-45deg, rgb(255, 176, 92), rgb(104, 54, 1));

    animation-name: trans;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
    padding-top: 55px;
}

#login{
    margin-right: 125px;
}

button{
    height: 40px;
    width: 150px;
    border: 0;
    border-radius: 25px;
    text-decoration: none;
    background-color: brown;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@keyframes trans {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%
    }
}

@media only screen and (max-width: 1023px) {
    body{
        height: 100vh;
        width: 100vw;
    }

    h1{
        font-size: 2em;
    }

    button{
        width: 90px;
    }

    #login{
        margin: 25px;
    }
}

